* {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: "Outfit", sans-serif;
}

body {
    background-color: rgb(14, 14, 15);
    max-height: 100vh;
    margin: 0px;
    padding: 0px;
}

.header {
    padding: 20px;
    background-color: rgb(19, 19, 21);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    font-size: 35px;
}

.addsection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#addbook {
    background-color: rgba(19, 19, 21, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    width: 150px;
    height: 70px;
    font-size: 23px;
    cursor: pointer;
    transition: 0.1s;
}
#addbook:hover {
    background-color: rgb(17, 17, 18);
}
#addbook:active {
    color: rgb(183, 183, 183);
}

#socials {
    width: 35px;
    height: 35px;
}

.booksection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.book {
    background-color: rgb(20, 20, 22);
    border: 1px solid rgb(42, 42, 47);
    border-radius: 15px;
    width: 300px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    gap: 20px;
}

.formarea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.331);
    opacity: 0;
    pointer-events: none;
    transition: 0.1s ease-in;
}

.formarea.show {
    pointer-events: all;
    opacity: 1;
}

.formdiv {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 370px;
    border: 1px solid rgb(42, 42, 47);
    background-color: rgba(18, 18, 20, 0.125);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 20px;
}

.bookinp {
    font-size: 23px;
    background-color: rgba(26, 26, 29, 0.426);
    border: 1px solid rgb(53, 53, 59);
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
    backdrop-filter: blur(20px);
}
.bookinp:focus {
    outline: none;
    border: none;
    border: 1px solid rgb(105, 105, 116);
}

#readprompt {
    cursor: pointer;
    width: 20px;
    height: 20px;
    accent-color: rgb(117, 118, 128);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

#formaddd {
    width: 160px;
    height: 60px;
    background-color: rgb(76, 82, 120);
    backdrop-filter: blur(20px);
    border: 2px solid rgb(112, 121, 173);
    border-radius: 10px;
    font-size: 25px;
    color: rgb(24, 25, 36);
    cursor: pointer;
}

#formaddd:hover {
    background-color: rgb(68, 71, 108);
}

#formaddd:active {
    background-color: rgb(59, 61, 94);
    color: rgb(12, 12, 18);
}

.readqna {
    display: flex;
    justify-content: center;
    align-items: center;
}

#formtitle {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 4px;
}

.notread {
    background-color: rgb(143, 71, 71);
    border: 2px solid rgb(208, 101, 101);
    color: rgb(28, 13, 13);
    padding: 5px;
    border-radius: 10px;
    padding: 8px;
}

.yesread {
    background-color: rgb(71, 143, 83);
    border: 2px solid rgb(101, 208, 121);
    color: rgb(13, 28, 14);
    padding: 5px;
    border-radius: 10px;
    padding: 8px;
}

.placeh {
    width: 24px;
    height: 24px;
}

#xicon {
    cursor: pointer;
}

#xicon:hover {
    fill: rgb(209, 88, 88);
}

#githubb {
    opacity: 0.6;
    transition: 0.4s;
    cursor: pointer;
}
#githubb:hover {
    opacity: 1;
}
